/* header */
.header-container {
  display: flex;
  width: 100vw;
}

.section {
  width: 100%;
}

header {
  width: 100%;
  height: 60px;
  background-color: rgb(42, 83, 154);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* transition: margin-left 0.3s ease-in-out; */
  box-shadow: -1px 5px 8px 2px #464443;
}

/* header.active {
  margin-left: 200px; 
} */

header h2 {
  color: #ffffff;
  margin-right: 20px; 
}

.hamburger {
  cursor: pointer;
  color: white;
  margin-left: 30px;
}