/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(42, 83, 154); 
  color: #fff; 
}

.logo {
  color: #ffffff;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff; 
  font-weight: bold;
}

.nav-links li a.active {
  color: #fff; 
}

.cart-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-container {
  position: relative;
}

.shopping-cart {
  width: 28px; 
  height: 28px;
  cursor: pointer;
  color: #ffffff;
}

.quantity-badge {
  position: absolute;
  top: -7px;
  right: -4px;
  background-color: rgb(222, 76, 76); 
  color: white; 
  border-radius: 50%; 
  padding: 3px 6px; 
  font-size: 12px; 
}

.logout-btn {
  background-color: #fff;
  color: #333; 
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: #ffdb4d; 
}

/* dropdown service */
.service-dropdown {
  position: relative;
}
.dropdown-menu {
  padding: 10px;
  width: 120px;
  display: none;
  position: absolute;
  top: 17px;
  left: 0;
  background-color: #030303;
  /* border: 1px solid #ccc; */
}

/* .dropdown-item {
  color: black;
} */

.dropdown-menu li {
  list-style: none;
}

.service-dropdown:hover .dropdown-menu {
  display: block;
}
